node_modules
/App/SimpleAssetManagement/SimpleAssetManagement/obj
/App/SimpleAssetManagement/.vs/SimpleAssetManagement/v16
/App/SimpleAssetManagement/SimpleAssetManagement/bin/Debug/netcoreapp3.1
/App/SimpleAssetManagement/.vs/SimpleAssetManagement/DesignTimeBuild
/App/SimpleAssetManagement/.vs/SimpleAssetManagement/config
/.vs
/App/SimpleAssetManagement/NEConsole/bin/Debug/netcoreapp3.1
/App/SimpleAssetManagement/NEConsole/obj
/App/SimpleAssetManagement/Solidity_Project/bin/Debug/netcoreapp3.1
/App/SimpleAssetManagement/Solidity_Project/obj
