node_modules
/App/SimpleAssetManagement/SimpleAssetManagement/obj
/App/SimpleAssetManagement/.vs/SimpleAssetManagement/v16
/App/SimpleAssetManagement/SimpleAssetManagement/bin/Debug/netcoreapp3.1
/App/SimpleAssetManagement/.vs/SimpleAssetManagement/DesignTimeBuild
